body {
    margin: 0;
    padding: 0;
    background-color: rgba(237, 233, 233, 0.808);
}

/* All */

/* Nav */
nav {
    background-color: lightblue;
    padding: 10px;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

nav > a > img {
    height: 80px;
}

nav > ul {
    padding-top: 15px;
    padding-right: 30px;
    float: right;
}

nav > ul > li {
    display: inline-block;
    padding-right: 5px;
}

nav > ul > li > a {
    font-size: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    text-decoration: none;
}

nav > ul > li > a:hover {
    background-color: green;
    box-shadow: 4px 4px black;
}

.active {
    background-color: darkred;
    pointer-events: none;
}

.active:hover {
    box-shadow: none;
}

/* Main */
main {
    font-size: 20px;
    padding: 120px 30px 0px;
}

main h2 {
    text-align: center;
}

/* Forms */
.form {
    position: absolute;
    left: 50%;
    margin-left: -300px;
    background-color: rgba(96, 190, 244, 0.767);
    width: 600px;
    height: 400px;
    padding: 30px 15px;
    text-align: center;
    border-radius: 55px;
}

.form > input {
    outline: 2px solid rgba(96, 190, 244, 0.767);
    outline: none;
}

.form > input, .form > button {
    font-size: 20px;
    margin-bottom: 60px;
    width: 70%;
    height: 7%;
    border-radius: 0px 50px 50px 0px;
    box-shadow: 5px 5px 2px blue;
}

.form > button:hover {
    box-shadow: 5px 5px 2px black;
}

.form > i {
    margin-left: -40px;
    cursor: pointer;
}

.form > p > a {
    transition: font-size 1s;
}

.form > p > a:hover {
    color: rgb(4, 4, 160);
    font-size: 25px;
}

/* Home page */
#freeVideos {
    float: right;
    background-color: rgba(12, 12, 212, 0.808);
    text-align: center;
    width: 600px;
    height: 250px;
    border-radius: 25px;
    margin-right: 150px;
    padding: 25px 10px;
}

#freeVideos > .input-field {
    margin: 20px 10px;
    width: 265px;
    height: 35px;
}

#freeVideos > .checkbox {
    color: white;
    margin-top: 30px;
}

#freeVideos > button {
    width: 100%;
    height: 30px;
    font-size: 15px;
    margin-top: 60px;
    background-color: lightskyblue;
}

#freeVideos > label > a {
    color: white;
}

#yogaout {
    margin-left: 150px;
    border-radius: 50px;
}

/* Register */
#registerForm {
    height: 550px;
    z-index: -1;
}

#registerForm > input {
    margin-bottom: 50px;
    height: 5%;
}

#registerForm label[for=email], #registerForm label[for=name] {
    margin-left: 40px;
}

#registerForm label[for=surname] {
    margin-left: 10px;
}

#registerForm label[for=rePass] {
    margin-left: -55px;
}

#registerForm > input[type=checkbox] {
    box-shadow: none;
    margin-left: -55px;
}

#registerForm > p {
    margin-top: -10px;
}

/* Login */
#loginForm > input[name=email] {
    margin-top: 45px;
}

#loginForm > label[for=password] {
    margin-left: -35px;
}

#loginForm > input {
    margin-bottom: 75px;
}

/* Train Session Form */
#trainSessionForm {
    z-index: -1;
    height: 600px;
}

#trainSessionForm > input, #trainSessionForm > button {
    height: 5%;
}

/* All Sessions */
#todayDiv, #tomorowDiv {
    z-index: -1;
}

#todayDiv {
    float: left;
    margin-left: 40px;
    border-right: 4px dotted blue;
    padding-right: 10%;
}

#tomorowDiv {
    float: right;
    margin-right: 40px;
}

.innerData {
    text-align: center;
    background-color: lightpink;
    margin: 30px;
    padding: 5px;
    width: 250px;
    height: 150px;
    font-size: 25px;
}

.innerData > #todayDiv {
    padding-left: 30px;
}

.innerData > a {
    text-decoration: none;
    color: blue;
    background-color: rgba(32, 32, 119, 0.418);
    padding: 5px;
}

#todayDiv > b > p, #tomorowDiv > b > p {
    color: black;
    font-size: 50px;
}

/* Loading */
#loading {
    text-align: center;
    position: absolute;
    top: 50%;
    margin-top: -50px;
    left: 50%;
    margin-left: -50px;
    font-size: 50px;

}

/* Register for training */
#content {
    margin-left: 50px;
    background-color: rgba(224, 220, 220, 0.548);
    box-shadow: 3px 5px 2px black;
    height: 600px;
}

#content > div {
    height: 110px;
    border-bottom: 3px solid grey;
    margin-top: 15px;
}

#content > div > img {
    height: 100px;
    margin-left: 10px;
}

#content > div > p {
    margin-top: -100px;
    margin-left: 150px;
    font-size: 25px;
}

#content  >  div  >  .data {
    margin-top: 0px;
}

#content button {
    position: relative;
    width: 300px;
    height: 70px;
    font-size: 25px;
    left: 50%;
    margin-top: 15px;
    background-color: greenyellow;
    box-shadow: 4px 10px 5px 2px black;
    margin-left: -150px;
}

#content > a > #edit {
    left: 20%;
    margin-left: 0px;
}

#content > a > #delete {
    left: 40%;
}

@media screen and (max-width: 1300px) {
    #yogaout {
        margin-left: 50px;
    }

    #freeVideos {
        width: 500px;
    }

    #freeVideos > .input-field {
        margin: 20px 5px;
        width: 200px;
        height: 35px;
    }

    #todayDiv {
        border-right: none;
        margin-left: 0px;
    }

    #tomorowDiv {
        margin-right: 0px;
    }
}

@media screen and (max-width: 1080px) {

    /* Nav */
    nav > a > img {
        height: 130px;
    }

    nav > ul {
        padding-top: 45px;
        padding-right: 40px;
    }

    nav > ul > li > a {
        font-size: 29px;
    }

    /* Main */
    main {
        font-size: 30px;
        padding: 150px 30px 0px;
    }

    /* Forms */
    .form > i {
        margin-left: -50px;
        margin-top: 20px;
    }

    /* Home page */
    #freeVideos {
        width: 700px;
    }

    #freeVideos > .input-field {
        margin: 20px 10px;
        width: 300px;
        height: 35px;
    }

    #freeVideos > .checkbox {
        margin-top: 30px;
    }

    #freeVideos > button {
        width: 100%;
        height: 30px;
        font-size: 25px;
        margin-top: 60px;
        background-color: lightskyblue;
    }

    #yogaout {
        margin-left: 300px;
    }

    /* Register */
    #registerForm {
        height: 670px;
        width: 650px;
    }

    #registerForm label[for=name] {
        margin-left: 5px;
    }

    #registerForm label[for=surname] {
        margin-left: -25px;
    }

    #registerForm label[for=email] {
        margin-left: 0px;
    }

    #registerForm label[for=password] {
        margin-left: -55px;
    }

    #registerForm label[for=rePass] {
        margin-left: -75px;
        font-size: 20px;
        color: black;
    }

    #registerForm > input[type=checkbox] {
        margin-left: -65px;
    }

    /* Edit form */
    #trainSessionForm {
        height: 600px;
    }

    #trainSessionForm > input, #trainSessionForm > button {
        height: 5%;
    }

    /* All Sessions */
    #todayDiv {
        float: none;
        margin-left: 0px;
        border-right: none;
        padding-right: 0;
    }

    #tomorowDiv {
        float: none;
        margin-right: 0px;
    }

    .innerData {
        position: relative;
        left: 50%;
        margin-left: -125px;
    }
}